@model List<FloorballTrainingSessions.SeasonPartsListExcersisesLinkedModel>

@{
    ViewBag.Title = "Index";
}



<p>
    

    @foreach (var item in Model)
    {
        
        
        @Html.Action("seasonpartsajax", "SeasonPartsListExcersisesLinked", new { excersise = item.Excersise, seasonpart = item.SeasonPart, seasonpartname = item.SeasonPartName, linked = item.Linked})
          
            }
</p>


