@model FloorballTrainingSessions.PlayerModel
@{
    ViewBag.Title = "Administrace";
}
<div  id="player" style="display:block; overflow:hidden;">
<div class="well">
    <div id="test" style="float:right;display:inline-block">
        
        @foreach (var item in Model.CurrentPlayerTeams)
        {
            if (Model.ActiveTeam.Id == item.Team)
            {
            @Ajax.ActionLink(item.Teams.TeamName, "Index",
                              "Player",
                              new { SeasonId = Model.ActiveSeason.Id, TeamId = item.Team },
                              new AjaxOptions
                              {
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "player",
                                  
            },
                              new { @class = "btn btn-success btn-block" });
            }
            if (Model.ActiveTeam.Id != item.Team)
            {
                @Ajax.ActionLink(item.Teams.TeamName, "Index",
                              "Player",
                              new { SeasonId = Model.ActiveSeason.Id, TeamId = item.Team },
                              new AjaxOptions
                              {
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "player",

                              },
                              new { @class = "btn btn-default btn-block" });
                }
            }
    </div>

    

<h1>Administrace</h1>



</div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            @Ajax.ActionLink("Tréninky", "Getnext10Trainings",
                              "Trainings",
                              new { season = Model.ActiveSeason.Id, team = Model.ActiveTeam.Id },
                              new AjaxOptions
                              {
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "main-header",

                              },
                              new { @class = "btn btn-default btn-block" })
        </div>
        <div class="btn-group">
            @Ajax.ActionLink("Docházka", "Index",
                              "Player",
                              new { SeasonId = Model.ActiveSeason.Id, TeamId = Model.ActiveTeam.Id },
                              new AjaxOptions
                              {
                                  HttpMethod = "GET",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "main",

                              },
                              new { @class = "btn btn-default btn-block" })
        </div>
        
    </div> 




<div id="main" class="col-md-12 nospacing" >
    <div id="main-header" class="col-md-12 nospacing" >
        header
       
            
            
        
    </div>
    <div id="main-frame" class="col-md-12 nospacing">
        <div id="main-main" class="col-md-8" style="overflow:hidden;">
            
        </div>
        <div id="main-right" class="col-md4" >
            
        </div>
    </div>
    <div id="main-footer" class="col-md-12 nospacing" >
        
    </div>

</div>    

  
</div>





    @section Scripts {


        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
        <script src="~/Scripts/jquery.masonry.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script>


            $('.row').masonry({
                itemSelector: '.manson',
                isAnimated: true
            });

            $(document).ready(function () {
                $("#ON").fadeIn("fast", function () {
                });
                $("#NU").fadeIn("fast", function () {
                });

                $("#NCT").fadeIn("fast", function () {
                });
                $("#PT").fadeIn("fast", function () {
                });
                $("#TP").fadeIn("fast", function () {
                });
                $("#CV").fadeIn("fast", function () {
                });
            });


        </script>
    }
