@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center row">
    <h1>Správa sporovního klubu</h1>
    <p class="lead">Webová aplikace umožňující správu sportovního klubu.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
        <h2>Vznik aplikace</h2>
        <p>
            Proč vznikla tato aplikace? Jaké jsou důvody k jejímu použití? Jak může pomoci aplikace při vedení sportovního klubu?
        </p>
        <p>@Html.ActionLink("Vznik aplikace","VznikAplikace",null,new { @class="btn btn-default"})</p>
    </div>
    </div>
    
        <div class="col-md-4">
            <div class="well">
                <h2>Tréninky</h2>
                <p>Možnosti modulu tréninků - nahlašování na tréninky, evidence cvičení, docházky, pokut</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </div>
        
            <div class="col-md-4">
                <div class="well">
                    <h2>Turnaje / zápasy</h2>
                    <p>Možnosti modulu zápasů - evidence turnajů, nahlašování na turnaje, zápasové statistiky</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div></div>
            
                <div class="col-md-4">
                    <div class="well">
                        <h2>Účenictví</h2>
                        <p>Možnosti modulu účetnictví - správa a plánování rozpočtů, položkové generování rozpočtů, porovnání plánu a skutečnosti. Evidence hráčských příspěvků</p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </div>
            </div>
</div>