
@{
    ViewBag.Title = "Vznik aplikace";
}

<div class="jumbotron">
    <h1>Správa sporovního klubu</h1>
    <p class="lead">Webová aplikace umožňující správu sportovního klubu.</p>
</div>

<div class="well">
    <h2>Trenérské počátky</h2>
    <p>Každý trenér se z počátku potýká s tím jakým způsobem zvládnout komunikaci s týmem - přeci jenom rád by například věděl kolik hráčů se sejde na tréninku</p>
</div>

