
@{
    ViewBag.Title = "List";
}

@using (Ajax.BeginForm("GetTrainings", "Trainings", new AjaxOptions
{//GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "traininglist",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    int seasonpart = 0;
    @Html.EditorFor(x => seasonpart) //text box with name and id, that it will pass to controller
                                    <input type="submit" value="Search" />
}

@* ... *@
<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="~/Images/ajax-loader.gif" />
</div>
@Html.Partial("_TrainingsList") @* this is view with patient table. Same view you will return from controller *@

@section Scripts {
    
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}